<ion-view title="ThePeer.Reviews">
    <ion-content padding="true" class="has-header">

        <h3>How the Sun<br>Changes Our Climate</h3>

        <!-- This needs to be converted to a screencast video using After Effects.  It must entirely fit onto a single iPhone screen.  No scrolling.  See http://devdactic.com/images-videos-fullscreen-ionic/ for a very simple implementation. -->

        <!-- Show actual quotes from original sources, where possible, and use a consistent video format for these three examples -->

        <p>There have been crucial moments in the history of science when the experts confidently staked a claim in a particular scientific theory which turned out to be wrong.</p>

        <!-- Show laser book cover + infographic, and scroll highlighted quote -->

        <p>When the laser's precursor, the maser, was invented, the leading quantum theorists of the day told its inventor that it was impossible, due to the Heisenberg Uncertainty Principle: "Such protests were not offhand opinions concerning the obscure aspects of physics; they came from the marrow of these men's bones." -- Charles H Townes</p>

        <!-- Show infographic + picture of Verschuur's book and scroll highlighted quote -->

        <p>When radio waves were first observed by radio engineers coming from space, astronomers could not dream up any rational way by which the radio waves could be generated, so they assumed it was either a mistake or a hoax.</p>

        <!-- Show video of first rockets, and contrast that with picture of actual quotes -->

        <p>Rocket-powered spacecrafts were ridiculed virtually all the way up until 1944, when they started raining down on London during WWII.</p>

        <!-- Show me speaking here -->

        <p>The common aspect to these stories is that the scientific community does not today teach them as lessons on the nature of scientific consensus -- and so there evolves a predictable public narrative that these kinds of fundamental mistakes are rare in our modern times.</p>

        <p>They are not.</p>

        <!-- Show headlines -->

        <p>The most important scientific controversy of the modern era is that of climate change.  This debate over whether or not -- and to what extent -- man is the cause, raises important -- yet largely unasked -- questions about ...</p>

        <!-- Show rebuttal to electric joule heating -->

        <p>* how people in our information-overloaded era react to complex scientific controversies</p>

        <!-- Show top of Schmidt infographic -->

        <p>* the role that university graduate programs play in shaping scientific consensus</p>

        <!-- Show 97% graphic -->

        <p>* and whether or not our existing systems for discussing scientific theory are serving our vital public need to critically evaluate scientific research</p>

        <!-- Show me speaking again -->

        <p>I aim to teach you how to think like a scientist by teaching you about a little-known controversial theory -- electric joule heating -- which I predict will by the end of the climate change debate, replace the theory of anthropogenic warming as the leading explanation for observable changes in the Earth's temperature.</p>

        <!-- Show animation of sun's plasma interacting with Earth: See video 0:39 to 0:50 at https://www.nasa.gov/mpg/297403main_THEMIS_svsLG.mpg -->

        <p>A surprisingly strong case can today be made that the Sun and its own cosmic neighborhood are the most significant drivers of Earth's climate.  I'll not only be showing you what is today known about how this works, but also why this theory has not to-date received more attention than it has -- crucial epistemology (how we know what we know) that is absolutely necessary to meaningfully engage any scientific controversy.</p>

        <!-- Show Alfven bio infographic -->

        <p>This app is an experiment whose purpose is to forever change the way that the public interacts with scientific theory.  It is born of a decade of online interactions and firsthand observations of scientific controversies.</p>

        <p>As <b>you</b> learn about electric joule heating, <b>I</b> will be seeking to learn about how <b>you</b> think about science with short, occasional surveys.  When you find something persuasive, I need to know that.  Where you disagree, I will be asking you to explain why.  Your participation in this experiment is absolutely vital to the evolution of this app and its content.</p>

        <p>There are truthfully many more controversies than climate change.  A number of them are ongoing.  The long-term objective of this experiment is to create a system which crowdsources rapid access to information about ALL of the world's past and present scientific controversies.</p>

        <p>The only authentic way to learn to think like a scientist is to deeply engage scientific controversies.  There are no shortcuts, and it's simply not enough to memorize the textbooks.  I trust you'll see what I mean in short order.</p>

    </ion-content>
</ion-view>

<!-- <ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 -->